<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362531564571-rtaqh6mnvg8br37vuifmgu51tkajsqfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362531564571-rtaqh6mnvg8br37vuifmgu51tkajsqfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362531564571-gp007q4aq9er8b4c05i2n7mi4vn278jk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXqOkHg2ENvLuI2o0dJA46zpGN21itWIg</string>
	<key>GCM_SENDER_ID</key>
	<string>362531564571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.gqFinal</string>
	<key>PROJECT_ID</key>
	<string>qplus-55fff</string>
	<key>STORAGE_BUCKET</key>
	<string>qplus-55fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362531564571:ios:55350c29d1eaabee5f1cbe</string>
	<key>DATABASE_URL</key>
	<string>https://qplus-55fff.firebaseio.com</string>
</dict>
</plist>